# Build and debug artifacts
bin/
obj/
*.dll
*.exe
*.pdb

# IDE-specific settings
.vscode/
.idea/
*.DotSettings.user

*.user
*.suo
*.vs/

# NuGet-specific cache files
*.nuget.*
project.nuget.cache

#python
.venv/
venv/